{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - My Webpage</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
        <meta charset='utf-8'>
        <meta name="description" content="Cardblanche (Кардбланш) – это международный дисконтный клуб, не имеющий аналогов во всем мире. "/>
        <meta name="keywords" content="Cardblanche, cardblansh, cartblanche, cartblansh, кард бланш, кардбланш, картбланш, картбланш спб, кардбланш питер, дисконтный клуб, скидки питер, скидки санкт-петербург, дисконт, кэшбэк"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link href="/bs3/css/bootstrap.css" type="text/css" rel="stylesheet"/>
            <link href="/bs3/css/bootstrap-theme.css" type="text/css" rel="stylesheet"/>
            <link href="/bs3/css/font-awesome.css" type="text/css" rel="stylesheet"/>
            <link href="/bs3/css/style.css" type="text/css" rel="stylesheet"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% block javascripts -%}
            <script src="/bs3/js/jquery.js"></script>
            <script src="/bs3/js/jquery-ui.js"></script>
            <script src="/bs3/js/bootstrap.js"></script>
        {%- endblock %}
    </head>
    <body>
        <div class="content_wrapper">
            {% render(controller("AcmeFrontBundle:Default:header", {"city_id": 3 } ) )%}
            <div id="content">{% block content %}{% endblock %}</div>
        </div>
        {% include 'AcmeFrontBundle::footer.html.twig' %}
	{% include 'AcmeFrontBundle::modals.html.twig' %}
    </body>
</html>
{% endspaceless %}
