<div id="footer">
    {% block footer %}     
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="container text-center">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <a href="http://cardblanche.net/contacts">Контакты</a>
                        </div>
                        <div class="col-sm-3">
                            <a href="/admin/agent">Агентам</a>
                        </div>
                        <div class="col-sm-3">
                            <a href="#">Вступить в клуб</a>
                        </div>
                        <div class="col-sm-3">
                            <a href="#" class="redhlp_button">Он-лайн консультант</a>
                        </div>  
                    </div>
                </div>
            </div>            
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="container text-center">
                    <div class="col-sm-4">
                        <small>&copy Card Blanche Group LLC 2012-2014</small>
                    </div>
                    <div class="col-sm-4">
                        <small><a href="http://cardblanche.net/privacy">Политика конфиденциальности</a></small>
                    </div>  
                    <div class="col-sm-4">
                        <a class="btn btn-primary btn-xs" target="_blank" href="http://vk.com/cardblanche"><i class="fa fa-vk"></i> Мы ВКонтакте</a>
                    </div>  
                </div>
            </div>         
        </li>
    </ul>
    {% endblock %}
</div>
