<!-- Modal -->
<div class="modal fade" id="modal_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="form-horizontal" role="form" action="http://cardblanche.net/login_check" method="post" id="authHeaderForm">
    <div class="modal-content">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    <h4 class="modal-title" id="myModalLabel">Вход</h4>
	</div>
	<div class="modal-body">
	    <div class="form-group">
		<label for="_username" class="col-sm-2 control-label">Логин</label>
		<div class="col-sm-10">
		  <input id="_username" class="form-control" name="_username" type="text" placeholder="Логин" required="required"/>
		</div>
	    </div>
	    <div class="form-group">
		<label for="_password" class="col-sm-2 control-label">Пароль</label>
		<div class="col-sm-10">
		  <input id="_password" class="form-control" name="_password" type="password" placeholder="Пароль" required="required"/>
		</div>
	    </div>	    
	    <input type="hidden" name="_csrf_token" value="e0831ba0a5a1451076760386a62b8ee6ce9fddcc"/>
	    <input type="hidden" name="_target_path" value="/offers"/>
	</div>
	<div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    <button type="submit" class="btn btn-success">Вход</button>
	</div>
    </div>
    </form>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal_registration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
      </div>
      <div class="modal-body">
	  <h1>Тут будет регистрация!</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal_selection_city" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
	  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	  <h1>Тут будет выбор города!</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>