{% set amount = 0 %}
{% for item in aTarifs %}
	{% if item.id == tarif %}
		{% set amount = item.cost %}
	{% endif %}
{% endfor %}

{#{dump(aTarifs)}#}
<span class="text-success">{#{tarif}#}	</span>
<form action="https://rbkmoney.ru/acceptpurchase.aspx" name="pay_{{userTarif}}" method="POST">
	<input type="hidden" name="eshopId" value="2029255"> {# need from our data #}
	<input type="hidden" name="orderId" value="{{ bill_id }}">
	<input type="hidden" name="serviceName" value="Buy tarif">
	<input type="hidden" name="recipientAmount" value="{{amount}}"> {#  #}
	<input type="hidden" name="recipientCurrency" value="RUR">
	<input type="hidden" name="successUrl" value="http://region.cardblanche.net/account/payment/success"> 
	<input type="hidden" name="failUrl" value="http://region.cardblanche.net/account/payment/error">
	<input class="btn btn-primary btn-large" type="submit" name="button" value="Оплатить">
</form>
