<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <a class="brand" href="/">
<img src="/images/logo.png" alt="Cardblanche" style="width:190px;">
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li><a href="#">Санкт-Петербург</a></li>
                <li class="active"><a href="#"><span>Акции</span></a></li>
                <li><a href="#">Партнерам</a></li>
                <li><a href="#">О Кардбланш</a></li>
                <li class="active"><a href="#"><i class="fa fa-map-marker" style="font-size:24px;"></i>&nbsp;Карта</a></li>
            </ul>
            {#}
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
            #}
        </div> 
        </div>
    </div>
</div>

{#
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar">Москва</span>
		<span class="icon-bar">Партнерам</span>
		<span class="icon-bar">O Cardblanche</span>
		<span class="icon-bar">Карта</span>
		</a>
		<a class="brand" href="http://cardblanche.net">
			<img src="/images/logo.png" alt="Cardblanche" style="width:190px;">
		</a>
		</div>
	</div>
</div>
#}

{#

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toplinks-collapse">
                <span class="sr-only">Развернуть</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo-link" class="navbar-brand" href="http://cardblanche.net/"><img src="/bundles/webdokacardblansh/images/logo.png"></a>

            <p class="navbar-text">

                <a href="http://cardblanche.net/city/choose" class="city_change">Москва</a>


            </p>
        </div>

        <div class="navbar-collapse collapse" id="toplinks-collapse" role="navigation">
            <ul class="nav nav-pills navbar-left mainlinks-navbar">
                <li class="active"><a href="http://cardblanche.net/">Акции</a></li>
                <li><a href="http://cardblanche.net/loyalty/why">Партнерам</a></li>
                <li><a href="http://cardblanche.net/why">О Cardblanche</a></li>
                <li class=" visible-sm visible-xs"><a href="http://cardblanche.net/map">Карта</a></li>
                                                <!-- <li class="active"><a href="http://cardblanche.net/offers">Акции</a></li> -->

            </ul>

            <div class="nav navbar-form navbar-left visible-lg visible-md">
                <a class="btn btn-success btn-default" id="showmap-button" href="http://cardblanche.net/map">
                    <span class="glyphicon glyphicon-map-marker"></span> Карта
                </a>
            </div>

                            

    <div class="nav navbar-nav navbar-right">
        <form action="http://cardblanche.net/login_check" method="post" id="authHeaderForm" class="navbar-form">
            <input id="_username" class="form-control" name="_username" placeholder="Логин" required="required" type="text">
            <input id="_password" class="form-control" name="_password" placeholder="Пароль" required="required" type="password">
            <button type="submit" class="btn btn-success">Вход</button>
            <input name="_csrf_token" value="d7cb14826fe64234b08e32b7f1095eb7820420c6" type="hidden">
            <a class="_registration btn btn-primary" href="http://cardblanche.net/register/">Регистрация</a>
            <input name="_target_path" value="/offers" type="hidden">
        </form>
    </div>
            
        </div>
        <!-- /.navbar-collapse -->


    </div>

#}

