<div class="navbar navbar-fixed-top" id = "scrolltotop">
    <div class="icon">&nbsp;</div>
</div>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toplinks-collapse">
                <span class="sr-only">Развернуть</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logo-link" class="pull-left" href="/">
		<img style="height: 48px;" src="http://cardblanche.net/bundles/webdokacardblansh/images/logo.png"/>
	    </a>
        </div>
        <div class="navbar-collapse collapse" id="toplinks-collapse" role="navigation">
            <p class="navbar-text">
                <select name="city" id="city">
                    {% for item in cities %}
                        <option value="{{ item.id}}" {% if city_id == item.id %}selected {% endif %}>{{ item.name }}</option>
                    {% endfor %}
                </select>
            </p>            
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://cardblanche.net/">Акции</a></li>
                <li><a href="http://cardblanche.net/loyalty/why">Партнерам</a></li>
                <li><a href="http://cardblanche.net/why">О Cardblanche</a></li>
                <li class=" visible-sm visible-xs"><a href="http://cardblanche.net/map">Карта</a></li>
            </ul>	    
	    <a class="btn btn-success btn-default navbar-btn" id="showmap-button" href="http://cardblanche.net/map">
		<i class="glyphicon glyphicon-map-marker"></i> Карта
	    </a>
	    <p class="navbar-text pull-right">
                <small>
                    <a onclick="return false;" href="javascript:void(0);" data-toggle="modal" data-target="#modal_login">Вход</a><span> | </span><a href="/account/register" >Регистрация</a>
                </small>
	    </p>    
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<div id="messagebox-container">
</div>
