{% extends "AcmeFrontBundle::layout.html.twig" %}

{% block js_style %}
	<title>Cardblanche:Price</title>
	<!-- Meta -->
	<meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="translucent">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/price_ff_files/fonts.css">
	<link href="/price_ff_files/global.css" rel="stylesheet">
	<!--[if lte IE 8]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="/scripts/global/respond.0133.js"></script>
	<script src="/scripts/global/selectivizr-min.0133.js"></script>
	<![endif]-->
	<!--[if lte IE 7]>
	<link href="/stylesheets/global/css/ie.0133.css" rel="stylesheet">
	<![endif]-->
	<style type="text/css">
		body{
			background: none;
			background: #CCFF99;
			background: #FFF;
		}
		.main-module{
			background: none;
		}
		/* set colors for price item box */
		/* mattress color */
		.plan-price{font-size:3em;margin:0.3em auto 0.6em; color:#5CCB18; font-weight:bold;position:relative;left:10px}
		.plan{background:#F8F8F8 !important} /* 1,3,5... #393939 */
		.plan:nth-of-type(even){background:#F8F8F8 !important} /* 1,3,5... #393939 */
		.plan:nth-of-type(even):hover{background:#FFFFCC !important } /* hover tarif #444 */
		.plan:nth-of-type(odd){background:#F2F2F2 } /* 2,4,6...#333333 */
		.plan:nth-of-type(odd):hover{background:#FFFFCC  !important } /* #444 */
		.plan-title{
			background:#53CBF1;
		}	

		.plan-title {
	    	line-height: 2.4em;
	    	font-size: 1.4em;
	    	font-weight: bold;
	    	font-family: Helvetica;
		}
		.plan.is-highlighted .plan-title, .plan.plan-bona-fide .plan-title {
		    line-height: 2.8em;
		}

		/* option list */
		dl.plan-stats dt{color: #333 }
		dd{text-align:left;padding:3px;color:green}

		.plan [class*="wf-btn"] {
			width: 90%;

		}

		.w-semi-bold,.wf-btn,a.wf-btn,.wf-btn-large,a.wf-btn-large,.wf-btn-small,
		a.wf-btn-small,.mini-header h1.hdr-message,.hdr-message,.primary,.cbp-spmenu a,
		.submodule h4{
			font-family:"Verdana","Helvetica";font-weight:400;font-style:normal;
			font-size:1.2em;
		}

		.is-green[class*="wf-btn"] {
		    background: none repeat scroll 0 0 #5cb85c;
		    text-shadow: 1px 1px 1px #719412;
		}
		.is-green[class*="wf-btn"]:hover {
		    background: none repeat scroll 0 0 #6cb85c;
		    text-shadow: 1px 1px 1px #719412;
		}

		.plan hr {
			/*
			color: #f00;
			background-color: #f00;
			height: 1px;
			*/
		}
		table.price-items {
			margin: 0 auto;
			color: #fff;
		}
		td.is-red-yes {
	        color: #800000;
		}
		td.is-red-no {
	        color: #ccc;
		}
		.plans {
			color: #fff;
		}

		#best-plan {
			background:#449332 !important;z-index:1;
		}
		.plan:nth-of-type(even):hover{background:#802020 !important } /* hover tarif #444 */
		.plan:nth-of-type(odd):hover{background:#802020 !important }
		
		#best-plan:hover {
			/*background:rgb(92,184,92)!important;z-index:1;"*/
			background:#202080!important;z-index:1;
		}
		.plans-swiper-text{
			font-family: "Helvetica";
			font-variant: small-caps;  
		}
	</style>

	<script type="text/javascript">
		$(document).ready(function(){
			var showRightPush = document.getElementById("showRightPush");
			var showLeftPush = document.getElementById("showLeftPush");
			//$("#tarif-page").css("padding-left", "0px");
			//$("#tarif-page").css("padding-right", "0px");
		});

		function selectTarif( tarifId ){
			$('input[name="createAccount[tarif]"]').val( tarifId );
			document.forms[0].submit()
		}
	</script>

{% endblock %}

{% block content %}
	{#}
	{% if app.user %}
		{% include 'AcmeRegionBundle:Partial:mainmenu.html.twig' %}
	{% else %}
		<p>User not autenti</p>
	{% endif %}
#}
<div class="container" id="tarif-page">

<section id="main" class="main-module">
  <div class="container plans-container">

<div style="visibility: visible;" id="plans-swiper-mobile" class="swipe">
<div style="width: 0px;" class="swipe-wrap"><!-- smartphone view -->  
	{% set col_colors = ['is-purple', 'is-red', 'is-green', 'is-orange', 'is-mint', 'is-yellow', 'is-chartreuse'] %}
	{% for key, tarif in aTarifs  %}
	{% if tarif.hightlight != 1 %}
		<div data-index="0" style="width: 0px; left: 0px; transition-duration: 0ms; transform: translateX(0px);" class="plan plan-ad-hoc" data-plan-id="{{ tarif.id }}" data-color="is-chartreuse">
		<div class="plan-title notranslate" style="background:#53CBF1 !important;">{{ tarif.name }}</div>
		<div class="plan-container">
		<div class="plan-price">
			<sup class="text-currency">
				<i class="fa fa-rub"></i>
			</sup>{{ tarif.cost }}<sup>.00</sup>{#<sub class="text-time">/mo.</sub>#}            
		</div>
		<hr>
		<table style="color:#53cbf1;" width="100%">
			{% for option in aTarifOptions %}
			{% if key == 0 %}
				{% set tarif_value = option.value_1 %}
			{% endif %}
			{% if key == 1 %}
				{% set tarif_value = option.value_2 %}
			{% endif %}
			{% if key == 2 %}
				{% set tarif_value = option.value_3 %}
			{% endif %}
			{% if key == 3 %}
				{% set tarif_value = option.value_4 %}
			{% endif %}
			<tr>
				<td><span class="is-red">{{ option.o_name }}</span></td>
			</tr>
			<tr>
				<td class="{% if tarif_value != 0 %}is-red-yes{% else %}is-red-no{% endif %}">

					{% if option.o_type == 'check' %}
						{% if tarif_value != 0 %}
							<i style="color:#800000; font-weight:bold;" class="fa fa-check-square-o"></i>
						{% else %}
							<i class="fa fa-square-o"></i>
						{% endif %}
					{% endif %}

					{% if option.o_type == 'currency' %}
						{% if tarif_value != 0 %}
							{{ tarif_value }} <i class="fa fa-rub"></i>
						{% else %}
							0 <i class="fa fa-rub"></i>
						{% endif %}
					{% endif %}			

					{% if option.o_type == 'string' %}
						{% if tarif_value != '' %}
							{{ tarif_value }}
						{% else %}
							<span><i class="fa fa-square-o"></i></span> 
						{% endif %}
					{% endif %}		

					{% if option.o_type == 'integer' %}
						{% if tarif_value != 0 %}
							{{ tarif_value }}
						{% else %}
							<i class="fa fa-square-o"></i>
						{% endif %}
					{% endif %}	

				</td>
			</tr>
			{% endfor %}
		</table>
		{#
		<dl class="plan-stats">
			{% for option in 1..5 %}
			<dt>название {{ option }}</dt>
			<dd class="notranslate">значение {{option}}</dd>
			{% endfor %}
		</dl>
		#}
		<hr>
		<a onclick="selectTarif({{ tarif.id }});return false;"  href="#" class="btn-plan-signup wf-btn-large is-green">Оформить<span class="icon-checkmark"></span></a>
		</div>
		</div>
	{% else %}
		<div data-index="0" style="width: 0px; left: 0px; transition-duration: 0ms; transform: translateX(0px);" class="plan plan-ad-hoc" data-plan-id="{{ tarif.id }}" data-color="is-green">

		<div class="plan-title notranslate" style="background:#FFC253;">{{ tarif.name }}</div>
		
		<div class="plan-container" style="background:#5cb85c;">

			<div class="plan-price" style="color:white !important;">
				<sup class="text-currency" style="color:#FFC253;">
					<i class="fa fa-rub"></i>
				</sup>{{ tarif.cost }}<sup>.00</sup>{#<sub class="text-time">/mo.</sub>#}            
			</div>
			<hr>
			<table style="color:#fefefe;" width="100%">
				{% for option in aTarifOptions %}

				{% if key == 0 %}
					{% set tarif_value = option.value_1 %}
				{% endif %}
				{% if key == 1 %}
					{% set tarif_value = option.value_2 %}
				{% endif %}
				{% if key == 2 %}
					{% set tarif_value = option.value_3 %}
				{% endif %}
				{% if key == 3 %}
					{% set tarif_value = option.value_4 %}
				{% endif %}				

				<tr>
					<td><span class="is-red">{{ option.o_name }}</span></td>
				</tr>
				<tr>
					<td class="{% if tarif_value != 0 %}is-red-yes{% else %}is-red-no{% endif %}">

							{% if option.o_type == 'check' %}
								{% if tarif_value != 0 %}
									<i style="color:#800000; font-weight:bold;" class="fa fa-check-square-o"></i>
								{% else %}
									<i class="fa fa-square-o"></i>
								{% endif %}
							{% endif %}

							{% if option.o_type == 'currency' %}
								{% if tarif_value != 0 %}
									{{ tarif_value }} <i class="fa fa-rub"></i>
								{% else %}
									<i class="fa fa-square-o"></i>
								{% endif %}
							{% endif %}			

							{% if option.o_type == 'string' %}
								{% if tarif_value != '' %}
									{{ tarif_value }}
								{% else %}
									<i class="fa fa-square-o"></i>
								{% endif %}
							{% endif %}	

							{% if option.o_type == 'integer' %}
								{% if tarif_value != 0 %}
									{{ tarif_value }}
								{% else %}
									<i class="fa fa-square-o"></i>
								{% endif %}
							{% endif %}								

					</td>
				</tr>
				{% endfor %}
			</table>
			{#
			<dl class="plan-stats">
				{% for option in 1..5 %}
				<dt>название {{ option }}</dt>
				<dd class="notranslate">значение {{option}}</dd>
				{% endfor %}
			</dl>
			#}
			<hr>
			<a onclick="selectTarif({{ tarif.id }});return false;" href="#" class="btn-plan-signup wf-btn-large is-yellow">Оформить<span class="icon-checkmark"></span></a>
		</div>
		</div>
	{% endif %}
	{% endfor %}                        

</div><!-- //smartphone view -->
</div>

<h2 class="plans-swiper-text">
	<span class="icon-arrow-left-alt1 slider-btn" id="prevSlider"></span>
	листать
	<span class="icon-arrow-right-alt1 slider-btn" id="nextSlider"></span>
</h2>


<!-- for computer view -->
<div style="visibility: visible;" id="plans-swiper-main" class="plans-slider">
  <div style="width: 4672px;" class="swipe-wrap">
    <div data-index="0" style="width: 1168px; left: 0px; transition-duration: 0ms; transform: translateX(0px);" class="plans clearfix plans-month">
            <div class="popular-badge " style="left: 45%"></div>

	{% for key, tarif in aTarifs  %}   

	{% if tarif.hightlight != 1 %}                 
		<div class="plan plan-ad-hoc col-3" data-plan-id="{{ tarif.id }}" data-color="is-chartreuse">
			<div class="plan-title notranslate" style="background:#53CBF1 !important;">{{ tarif.name }}</div>
			<div class="plan-container">
			<div class="plan-price">
			<span class="notranslate">
				{{ tarif.cost }}<sup>.00</sup></span><sub class="text-time"><i class="fa fa-rub"></i>
</sub>

			</div>
			<a onclick="selectTarif({{ tarif.id }});return false;"  href="#" class="btn-plan-signup wf-btn-large is-green">Оформить<span class="icon-checkmark"></span></a>
			<hr/>
				<table style="color:#53cbf1;" width="100%">
					{% for option in aTarifOptions %}
						{% if key == 0 %}
							{% set tarif_value = option.value_1 %}
						{% endif %}
						{% if key == 1 %}
							{% set tarif_value = option.value_2 %}
						{% endif %}
						{% if key == 2 %}
							{% set tarif_value = option.value_3 %}
						{% endif %}
						{% if key == 3 %}
							{% set tarif_value = option.value_4 %}
						{% endif %}
					<tr>
						<td><span class="is-red">{{ option.o_name }}</span></td>
					</tr>
					<tr>
						<td class="{% if tarif_value != 0 %}is-red-yes{% else %}is-red-no{% endif %}">
							
							{% if option.o_type == 'check' %}
								{% if tarif_value != 0 %}
									<i style="color:#800000; font-weight:bold;" class="fa fa-check-square-o"></i>
								{% else %}
									<i class="fa fa-square-o"></i>
								{% endif %}
							{% endif %}

							{% if option.o_type == 'currency' %}
								{% if tarif_value != 0 %}
									{{ tarif_value }} <i class="fa fa-rub"></i>
								{% else %}
									<i class="fa fa-square-o"></i>
								{% endif %}
							{% endif %}			

							{% if option.o_type == 'string' %}
								{% if tarif_value != '' %}
									{{ tarif_value }}
								{% else %}
									<i class="fa fa-square-o"></i>
								{% endif %}
							{% endif %}	

							{% if option.o_type == 'integer' %}
								{% if tarif_value != 0 %}
									{{ tarif_value }}
								{% else %}
									<i class="fa fa-square-o"></i>
								{% endif %}
							{% endif %}	
						</td>
					</tr>
					{% endfor %}
				</table>
			<hr/>
			{#
			<hr>
			<dl class="plan-stats">
			{% for option in 77..88 %}
				<dt>Опция {{option}}</dt>
				<dd class="notranslate">значение {{option}}</dd>
			{% endfor %}
			</dl>
			<hr>
			#}
			<a onclick="selectTarif({{ tarif.id }}); return false;" href="#" class="btn-plan-signup wf-btn-large is-green">Оформить!<span class="icon-checkmark"></span></a>		
			</div>
		</div>
	{% else %}
		<div id="best-plan"  class="plan plan-bona-fide col-3" data-plan-id="{{ tarif.id }}" data-color="is-red">
			<div class="plan-title notranslate" style="background:#FFC253;">{{ tarif.name }}</div>
			<div class="plan-container">
				<div class="plan-price" style="color:white !important;">
					<span class="notranslate"><sup class="text-currency"></sup>{{ tarif.cost }}<sup>.00</sup></span><sub class="text-time"  style="color:white;"><i class="fa fa-rub"></i>
</sub>
				</div>
				<a onclick="selectTarif({{ tarif.id }});" href="#" class="btn-plan-signup wf-btn-large is-yellow">Оформить<span class="icon-checkmark"></span></a>

				<hr/>
				<table width="100%">
					{% for option in aTarifOptions %}
						{% if key == 0 %}
							{% set tarif_value = option.value_1 %}
						{% endif %}
						{% if key == 1 %}
							{% set tarif_value = option.value_2 %}
						{% endif %}
						{% if key == 2 %}
							{% set tarif_value = option.value_3 %}
						{% endif %}
						{% if key == 3 %}
							{% set tarif_value = option.value_4 %}
						{% endif %}

					<tr>
						<td><span class="is-red">{{ option.o_name }}</span></td>
					</tr>
					<tr>
						<td class="{% if tarif_value != 0 %}is-red-yes{% else %}is-red-no{% endif %}">
							{% if option.o_type == 'check' %}
								{% if tarif_value != 0 %}
									<i style="color:#800000; font-weight:bold;" class="fa fa-check-square-o"></i>
								{% else %}
									<i class="fa fa-square-o"></i>
								{% endif %}
							{% endif %}

							{% if option.o_type == 'currency' %}
								{% if option.value_3 != 0 %}
									{{ tarif_value }}
								{% else %}
									<i class="fa fa-square-o"></i>
								{% endif %}
							{% endif %}			

							{% if option.o_type == 'string' %}
								{% if tarif_value != '' %}
									{{ tarif_value }}
								{% else %}
									<i class="fa fa-square-o"></i>
								{% endif %}
							{% endif %}	

							{% if option.o_type == 'integer' %}
								{% if tarif_value != 0 %}
									{{ tarif_value }}
								{% else %}
									<i class="fa fa-square-o"></i>
								{% endif %}
							{% endif %}	



						</td>
					</tr>
					{% endfor %}
				</table>
				<hr/>
				<a onclick="selectTarif({{ tarif.id }});" href="#" class="btn-plan-signup wf-btn-large is-yellow">Оформить<span class="icon-checkmark"></span></a>
				{#}
					<dl class="plan-stats">
						{% for option in aTarifOptions %}
							{% if option.o_type == 'check' and option.value_3 != 0 %}
								<dt>{{ option.o_name }}</dt>
								<dd class="notranslate">{{ option.value_3 }}+</dd>
							{% endif %}
							{% if option.o_type == 'curruncy' and option.value_3 != 0 %}
								<dt>{{ option.o_name }}</dt>
								<dd class="notranslate">{{ option.value_3 }} руб</dd>
							{% endif %}
						{% endfor %}
					</dl>
				<hr>
				#}
			</div>
		</div>
	{#}
		<div class="plan plan-ad-hoc col-3" data-plan-id="{{ tarif.id }}" data-color="is-orange">
			<div class="plan-title notranslate">{{ tarif.name }}</div>
			<div class="plan-container">
			<div class="plan-price">
			<span class="notranslate">
				{{ tarif.cost }}
				<sup>.00</sup></span>
				<sub class="text-time">/руб.</sub>
			</div>
			<a href="#" class="btn-plan-signup wf-btn-large is-purple">Купить!<span class="icon-checkmark"></span></a>
			<hr>
			<dl class="plan-stats">
			{% for option in 77..88 %}
				<dt>Опция {{option}}</dt>
				<dd class="notranslate">значение {{option}}</dd>
			{% endfor %}
			</dl>
			<hr>
		<a href="#" class="btn-plan-signup wf-btn-large is-purple">Узнать!<span class="icon-checkmark"></span></a>
			</div>
		</div>
	#}
	{% endif %}	
	{% endfor %}

{#                  
<div class="plan plan-bona-fide col-3" data-plan-id="3" data-color="is-red">
<div class="plan-title notranslate">компутер 2</div>
<div class="plan-container">
<div class="plan-price">
<span class="notranslate"><sup class="text-currency">$</sup>29<sup>.95</sup></span><sub class="text-time">/mo.</sub>
</div>
<a href="https://secure.wufoo.com/signup/3/" class="btn-plan-signup wf-btn-large is-red">Sign Up!<span class="icon-checkmark"></span></a>
<a href="#" class="annual-toggle toggle-annual-btn current-monthly">Or Save With Annual! <span class="icon-arrow-right"></span></a>
<hr>
<dl class="plan-stats">
<dt>Users</dt>
<dd class="notranslate">5</dd>
<dt>Forms</dt>
<dd class="">Unlimited</dd>
<dt>Entries</dt>
<dd><span class="notranslate">3,000</span>/mo.</dd>
<dt>Reports</dt>
<dd class="">Unlimited</dd>
<dt>Payments</dt>
<dd> Integrated </dd>
<dt class="notranslate">SSL</dt>
<dd> Encrypted </dd>
<dt>Storage</dt>
<dd class="notranslate"> 1GB </dd>
</dl>
<hr>
</div>
</div>
                      
<div class="plan plan-carpe-diem col-3" data-plan-id="4" data-color="is-blue">
<div class="plan-title notranslate">Компутер 3</div>
<div class="plan-container">
<div class="plan-price">
<span class="notranslate"><sup class="text-currency">$</sup>69<sup>.95</sup></span><sub class="text-time">/mo.</sub>
</div>
<a href="https://secure.wufoo.com/signup/4/" class="btn-plan-signup wf-btn-large is-blue">Sign Up!<span class="icon-checkmark"></span></a>
<a href="#" class="annual-toggle toggle-annual-btn current-monthly">Or Save With Annual! <span class="icon-arrow-right"></span></a>
<hr>
<dl class="plan-stats">
<dt>Users</dt>
<dd class="notranslate">20</dd>
<dt>Forms</dt>
<dd class="">Unlimited</dd>
<dt>Entries</dt>
<dd><span class="notranslate">15,000</span>/mo.</dd>
<dt>Reports</dt>
<dd class="">Unlimited</dd>
<dt>Payments</dt>
<dd> Integrated </dd>
<dt class="notranslate">SSL</dt>
<dd> Encrypted </dd>
<dt>Storage</dt>
<dd class="notranslate"> 3GB </dd>
</dl>
<hr>
</div>
</div>
    

<div class="plan plan-ad-infinitum col-3" data-plan-id="5" data-color="is-green">
<div class="plan-title notranslate">Компутер 4</div>
<div class="plan-container">
<div class="plan-price">
<span class="notranslate"><sup class="text-currency">$</sup>199<sup>.95</sup></span><sub class="text-time">/mo.</sub>
</div>
<a href="https://secure.wufoo.com/signup/5/" class="btn-plan-signup wf-btn-large is-green">Sign Up!<span class="icon-checkmark"></span></a>
<a href="#" class="annual-toggle toggle-annual-btn current-monthly">Or Save With Annual! <span class="icon-arrow-right"></span></a>
<hr>
<dl class="plan-stats">
<dt>Users</dt>
<dd class="notranslate">60</dd>
<dt>Forms</dt>
<dd class="">Unlimited</dd>
<dt>Entries</dt>
<dd><span class="notranslate">100,000</span>/mo.</dd>
<dt>Reports</dt>
<dd class="">Unlimited</dd>
<dt>Payments</dt>
<dd> Integrated </dd>
<dt class="notranslate">SSL</dt>
<dd> Encrypted </dd>
<dt>Storage</dt>
<dd class="notranslate"> 10GB </dd>
</dl>
<hr>
</div>
</div>
#}

</div> <!-- first four plans -->
</div>
</div><!-- eof plans-container /computer view -->

  </div><!-- container // All (mobile and computer) view-->

{##}
<div style="display:none;" id="showRightPush"/>
<div style="display:none;" id="showLeftPush"/>
{##}
</section><!-- main -->



</div>

{% endblock %}


{% block xvost %}

<script>
  // setting term variable for annual toggle in /static/pricing.js
  var term = 'monthly';
</script>

<!-- JavaScript -->
{#<script src="/price_ff_files/jquery.js"></script>#}
<script>window.jQuery || document.write('<script src="/scripts/global/jquery.js"><\/script>')</script>

<script src="/price_ff_files/dynamic.js"></script>

<script>
  // scrollto function
    jQuery('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = jQuery(this.hash);
        target = target.length ? target : jQuery('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          jQuery('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
</script>


<!--[if lte IE 7]>
<script src="/scripts/global/lte-ie7.0133.js"></script>
<![endif]-->

<!-- Brighttag -->
<!-- dinamical load JS code from remote site and insert it after SCRIPT tag -->
<script>
  (function () {
    var tagjs = document.createElement("script");
    var s = document.getElementsByTagName("script")[0];
    tagjs.async = true;
    //tagjs.src = "//s.btstatic.com/tag.js#site=mDhyNu2";
    tagjs.src = "/price_ff_files/tag.js#site=mDhyNu2";
    s.parentNode.insertBefore(tagjs, s);
  }());
</script>
<noscript>
  <iframe src="/price_ff_files/tag.js/iframe?c=mDhyNu2" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript>

<script src="/price_ff_files/pricing.js"></script>


<div style="position: absolute; z-index: 99999; border: 1px solid rgb(0, 0, 0); background-color: rgb(255, 255, 255); margin: 0px; padding: 4px; font-family: helvetica,arial,sans-serif; font-style: normal; font-size: 11.5pt; line-height: 1.538em; color: rgb(34, 51, 85); text-align: left; border-radius: 4px; top: 0px; left: 0px; visibility: hidden;" id="ytranslate02">
  <img style="display: none;" id="y-t-loader">
  <a style="color: rgb(34, 51, 85); font-style: normal; text-decoration: none; border: medium none;" class="y-t-dtext originalbrace">[</a>
  <a style="color: rgb(34, 51, 85); font-style: normal; text-decoration: none; border: medium none;" class="y-t-dtext" id="y-t-original"></a>
  <a style="color: rgb(34, 51, 85); font-style: normal; text-decoration: none; border: medium none;" class="y-t-dtext originalbrace">] - </a>
  <a style="font-weight: bold; color: rgb(34, 51, 85); font-style: normal; text-decoration: none; border: medium none;" class="y-t-dtext" id="y-t-translated"></a>
  <span style="color: rgb(118, 121, 124); font-style: italic; display: none; font-size: 10.5pt; text-decoration: none; border: medium none;" class="y-t-dtext" id="y-t-also1"></span>
  <span style="color: rgb(118, 121, 124); font-style: italic; display: none; font-size: 10.5pt; text-decoration: none; border: medium none;" class="y-t-dtext" id="y-t-also2"></span>
</div>
<iframe src="/price_ff_files/activityi.html" style="display:none;" frameborder="0" height="1" width="1"></iframe>

{% endblock %}





