{% set renderBackButton = flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}

<div class="craue_formflow_buttons craue_formflow_button_count_{% if renderBackButton %}3{% else %}2{% endif %}">
	{#
		кустомизируем правильно
		http://stackoverflow.com/questions/1963245/multiple-submit-buttons-specifying-default-button
	#}
	<button type="submit" class="btn btn-primary craue_formflow_button_last">
		{%- if flow.getCurrentStepNumber() < flow.getLastStepNumber() -%}
			{{- 'button.next' | trans({}, 'CraueFormFlowBundle') -}}
		{%- else -%}
			{{- 'button.finish' | trans({}, 'CraueFormFlowBundle') -}}
		{%- endif -%}
	</button>

	{% if renderBackButton %}
		{# see http://www.html5rocks.com/en/tutorials/forms/html5forms/ #}
		<button class="btn " type="submit" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate">
			{{- 'button.back' | trans({}, 'CraueFormFlowBundle') -}}
		</button>
	{% endif %}

	<button type="submit" class="btn btn-danger craue_formflow_button_first" name="{{ flow.getFormTransitionKey() }}" value="reset" formnovalidate="formnovalidate">
		{{- 'button.reset' | trans({}, 'CraueFormFlowBundle') -}}
	</button>
</div>
