{% block craue_flow_stepList_class %}

	{%- if loop.index == flow.getCurrentStepNumber() -%}

		{{- ' class="active craue_formflow_current_step"' -}} {# текущий шаг формы #}

	{%- elseif flow.isStepSkipped(loop.index) -%}

		{{- ' class="disabled craue_formflow_skipped_step"' -}} {# пропущенный шаг #}

	{%- elseif flow.isStepDone(loop.index) -%}

		{{- ' class="text-success craue_formflow_done_step"' -}} {# уже сделано #}

	{%- endif -%}

{% endblock %}

{##}

{% block craue_flow_stepLabel %}
	
	{%- if loop.index == flow.getCurrentStepNumber() -%}
		
		{##}

	{%- elseif flow.isStepDone(loop.index) -%}
	
		<span style="color: #449332;font-weight:bold;">√&nbsp;</span> 
	
	{%- endif -%}	
	
	{{- stepLabel | trans -}}

{% endblock %}
