{% extends "AcmeFrontBundle::layout.html.twig" %}

{% block title %}AcmeFrontBundle:Search:index{% endblock %}

{% block content %}
<h1>search result [{{ time }}]</h1>
<h2>{{ q }}</h2>

{% if offersResult|length > 0 %}
	<ul>
	{% for item in offersResult %}
		<li>
			{{ item.id }} : {{ item.description | striptags | slice(0, 256) | sphinx_highlight('OffersIndex', q, {limit:256}) }}
		</li>
	{% endfor %}
	</ul>
	<p>
		total {{result.total}}
	</p>

	<p>
		total found {{ result.total_found }}
	</p>

	<p>
		<a href='{{ path( "search_poisk_offers_result",{ "page": page+1, "q": q } ) }}' >NextPageLink </a>
	</p>
	<p>
		{{ time }}
	</p>

{% else %}
	<p>Ничего нет</p>
{% endif %}

{#}
<div class="pagerfanta">
    {{ pagerfanta(mypager, 'twitter_bootstrap') }}
</div>
#}

{% endblock %}
