{% extends "AcmeFrontBundle::layout.html.twig" %}

{% block title %}AcmeFrontBundle:Vehicle:index{% endblock %}

{% block mystyles %}
	<style type="text/css">
		.craue_formflow_done_step{
			font-size: 12px;
			font-weight: bold;
			color: #000;
		}
		.craue_formflow_current_step{
			font-size: 12px;
			font-weight: bold;
			color: #800000;	
		}
	</style>
{% endblock %}

{% block body %}

	<div class="container">

		<h1>Шаг за шагом</h1>

		<div>
		    Этапы:
		    {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
		</div>

		<form method="post" {{ form_enctype(form) }}>
			
		    {{ form_errors(form) }}

		    {% if flow.getCurrentStepNumber() == 1 %}
		        <div>
		            
		            После выбора колесиков переходите к следуюзему шагу <br />
		            
		            {{ form_row(form.numberOfWheels) }}

		        </div>

		    {% endif %}

		    {{ form_rest(form) }}

		    {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
		
		</form>

	</div>

{% endblock %}
