{% extends "AcmeFrontBundle::layout.html.twig" %}

{% block title %}Cardblanche{% endblock %}

{% block mystyles %}

    <style type="text/css">
        .craue_formflow_done_step{
            font-size: 12px;
            font-weight: bold;
            color: #000;
        }
        .craue_formflow_current_step{
            font-size: 12px;
            font-weight: bold;
            color: #800000; 
        }
        .craue_formflow_buttons, .craue_formflow_buttons_last {
            float:left;
        }
        .hiden_list {
            display:none;
        }
        .navbar .brand {
            display: block;
            float: left;
            padding: 10px 20px;
            margin-left: -21px;
            font-size: 20px;
            font-weight: 200;
            color: #777;
            text-shadow: 0px 1px 0px #FFF;
        }
        .navbar .nav > li {
            float: left;
        }
        li {
            line-height: 40px !important;
        }

        .navbar .nav > li > a {
            color: #777777;
            color: #428BCA !important;
            float: none;
            padding: 10px 15px;
            text-decoration: none;
            text-shadow: 0 1px 0 #ffffff;
        }

        .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
            background-color: #e5e5e5;
            background-color: #5CB85C !important;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
            color: #111 !important;
            text-decoration: none;
        }

    </style>
{% endblock %}

{% block body %}
	{% include 'AcmeFrontBundle:Partial:upmenu.html.twig' %}
	{#% include 'AcmeFrontBundle:Partial:downmenu.html.twig' %#}

{% endblock %}
