html, body {height: 100%}

.content_wrapper {
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 85px;
}

.city_change {
    display: block;
    border-bottom: 1px dashed;
    margin-top: -1px;
    width: 48px;
}
.city_change:hover {text-decoration: none}

#offers h1 {
    margin: 0;
    font-size: 30px;
}

#offers .old {
    background-color: #CCCCCC;
    height: 30px;
    font-size: 18px;
    color: #F2FCFF;
    text-align: center;
}
#offers .new {
    background-color: #34b8e7;
    height: 30px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

#footer {margin-top: -85px}