{% extends "AcmeFrontBundle::layout.html.twig" %}

{% block title %}Cardblanche:error{% endblock %}

{% block body %}
	{% include 'AcmeFrontBundle:Partial:upmenu.html.twig' %}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3"></div> 
			<div class="span9">
				<h3>Ошибка создания аккаунта</h3>
				<p>
					При создании аккаунта произошли следующие ошибки:
				</p>
				{% if retData is defined %}
					{#{ dump(retData) }#}
					{% if (retData.result is defined) and (retData.result.result[0] is defined) %}
						{% if retData.result.result[0] == '#901' %}
							<p class="text-error">
								{{ retData.result.result[1].message }}
							</p>
							<p>
								Исправьте и их, и повторите попытку.
							</p>
						{% else %}
							<p class="text-error">
								Сервер регистрации временно недоступен. Повторите попытку позже.
							</p>
						{% endif %}
					{% else %}
						<p class="text-error">
							Сервер регистрации временно недоступен. Повторите попытку позже. #2
						</p>
					{% endif %}
					
				{% endif %}
				<p>
					Служба поддержки: support <i class="fa fa-at"></i> cardblanche . net
				</p>
				<a href="" class="btn btn-error">Вернуться к регистрации</a>
			</div>
		</div>
			<footer>
		<p>&copy; Cardblanche group LLC 2012 - 2014</p>
	</footer>
	</div>

{% endblock %}
