{% extends "::base.html.twig" %}

{% block title %}AcmeFrontBundle:Register:forgot{% endblock %}

{% block body %}
{% include 'AcmeFrontBundle:Partial:upmenu.html.twig' %}
<h1>Welcome to the Register:forgot page</h1>
{% endblock %}
