{% extends "AcmeFrontBundle::layout.html.twig" %}

{% block title %}CardBlanche:новый аккаунт{% endblock %}

{% block mystyles %}

	<style type="text/css">
		.craue_formflow_done_step{
			font-size: 12px;
			font-weight: bold;
			color: #000;
		}
		.craue_formflow_current_step{
			font-size: 12px;
			font-weight: bold;
			color: #800000;	
		}
		.craue_formflow_buttons, .craue_formflow_buttons_last {
			float:left;
		}
		.hiden_list {
			display:none;
		}
		.navbar .brand {
			display: block;
			float: left;
			padding: 10px 20px;
			margin-left: -21px;
			font-size: 20px;
			font-weight: 200;
			color: #777;
			text-shadow: 0px 1px 0px #FFF;
		}
		.navbar .nav > li {
		    float: left;
		}
		li {
			line-height: 40px !important;
		}

		.navbar .nav > li > a {
		    color: #777777;
		    color: #428BCA !important;
		    float: none;
		    padding: 10px 15px;
		    text-decoration: none;
		    text-shadow: 0 1px 0 #ffffff;
		}

		.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
		    background-color: #e5e5e5;
		    background-color: #5CB85C !important;
		    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
		    color: #111 !important;
		    text-decoration: none;
		}

	</style>

	<script type="text/javascript">
		
		var _gaq = [1,2,3];

		$(document).ready( function(){
			var element = document.getElementById('createAccount_city');
			if( element != null ){
				element.value = '{{ iFindCityId }}';	
			}

			// createAccount_subscribe_email
			var element = document.getElementById('createAccount_subscribe_email');
			if( element != null ){
				element.value = '1';	
			}
			// createAccount_subscribe_sms
			var element = document.getElementById('createAccount_subscribe_sms');
			if( element != null ){
				element.value = '1';	
			}

			{% if flow.getCurrentStepNumber() == 2 %}	
			//$(".row-fluid").css("margin-top", "30px");
			{% endif %}
		})
		function selectTarif( tarifId ){
			$('input[name="createAccount[tarif]"]').val( tarifId );
		}
	</script>
{% endblock %}

{% block body %}

	{% include 'AcmeFrontBundle:Partial:upmenu.html.twig' %}
	{#% include 'AcmeFrontBundle:Partial:downmenu.html.twig' %#}

{#

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			&nbsp;
		</div>
	</div>
</div>

#}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				
				{% include 'AcmeFrontBundle:FormFlow:stepList.html.twig' %}
				
			</div> 
			<div>
				{% if flow.getCurrentStepNumber() == 2 %}
					<p class="text" style="font-size:14px;"><span class="text-info"><b>Найдите свой тарифный план!</b></span><br/>
					<span class="text-success">
					Познакомьтесь с Вашими новыми возможностями.<br/> 
					Если Вы внимательны к своим расходам, то для Вас подойдет 
					тариф</span> <span class="text-success"><b>Classic</b></span>,<br/> 
					
					<span class="text-warning">
					для расширения своих возможностей, обратите внимание на тариф </span><span class="text-warning"><b>Premium</b></span><br/> 
					
					<span class="text-info">
					Кроме контроля своих расходов Вы можете эффективно зарабатывать, для этого приобретите тариф</span> <span class="text-info"><b>Business</b></span>.<br/> 
					<span class="text-error">
					Кроме скидок и бонусов Вы будете получать дополнительное вознаграждение от наших партнеров.
					</span>
					</p>
				{% endif %}
			</div>
		</div> 

		<div class="span9">
		<form method="post" {{ form_enctype(form) }}>
			{% if flow.getCurrentStepNumber() == 1 %}	
			<div class="progress progress-danger progress-striped">
				<div class="bar" style="width: 25%">Регистрация: шаг 1 из 4</div>
			</div>
			{% endif %}
			{% if flow.getCurrentStepNumber() == 2 %}	
			<div class="progress progress-warning progress-striped">
				<div class="bar" style="width: 50%">Регистрация: шаг 2 из 4</div>
			</div>
			{% endif %}
			{% if flow.getCurrentStepNumber() == 3 %}	
			<div class="progress progress-info progress-striped">
				<div class="bar" style="width: 75%">Регистрация: шаг 3 из 4</div>
			</div>
			{% endif %}
			{% if flow.getCurrentStepNumber() == 4 %}	
			<div class="progress progress-success progress-striped">
				<div class="bar" style="width: 99%">Регистрация: шаг 4 из 4</div>
			</div>
			{% endif %}

	
			<div class="row-fluid" style="background: ##F5F5F5;">
				{#<h2>Регистрация: шаг {{ flow.getCurrentStepNumber() }}</h2>#}
				
					<b style="color:red;">{{ form_errors(form) }}</b>
					
					{% if flow.getCurrentStepNumber() == 1 %} 
						
						{% for flashMessage in app.session.flashbag.get('error') %}
						    <div class="text-error">
						        {{ flashMessage }}
						    </div>
						{% endfor %}

						<p>
							Укажите Ваш город. Наша компания работает в различных регионах России и других странах. В зависимости от города наши предложения могут немного отличаться. 
						</p>
						<p class="text-success">
							Указание города необходимо для точного указания выгодных предложений в вашем городе. Так Вам будет просто удобнее использовать наши сервисы.
						</p>
						<p class="text">
							Ваш город: <span style="color:#000; font-weight:bold;">{{ sFindCityName }}</span> (если он установлен не точно, поправьте нас)	
						</p>
						{{ form_widget(form.city) }}
						<br/>

						<div class="">
							<p>Если у Вас есть пластиковая карта с QR кодом, укажите данные карты для ее активации:</p>

						<p><b>Номер пластиковой карты</b></p>
						{{form_errors(form.card_number)}}</p>
						{{ form_widget(form.card_number) }}						
						<br>	

						<p><b>ID пластиковой карты</b></p>
						{{ form_errors(form.card_id) }}
						{{ form_row(form.card_id) }}						
						
						</div>
					{% endif %}

					{% if flow.getCurrentStepNumber() == 4 %}
						<p>
						Я ознакомился с документом <a href="http://cardblanche.net/oferta" target="_blanck"> "Соглашение об использовании сервиса"</a>.
						Я знакомился с документом <a target="_blank" href="http://cardblanche.net/privacy">"Политика конфиденциальности"</a>. 
						</p>
						
						{{ form_row(form.accept) }}
					{% endif %}
					
					{% if flow.getCurrentStepNumber() == 2 %}
						
						<div style="height:0px;"></div>
						{{ render(controller( 'AcmeFrontBundle:Default:index', { 'register': 1 } )) }}

						{#{ form_row(form.tarif) }#}
						{#{ form_label(form.tarif) }#}
						{{ form_errors(form.tarif) }}
						{{ form_widget(form.tarif) }}
	
					{% endif %}

					{{ form_rest(form) }}
					<hr/>

					{% if flow.getCurrentStepNumber() != 2 %}	
						{% include 'AcmeFrontBundle:FormFlow:buttons.html.twig' %}
					{% else %}
						{% include 'AcmeFrontBundle:FormFlow:buttons_back_only.html.twig' %}
					{% endif %}
			</div>
		</form>	
		</div> 
	</div> 
	<hr/>
	<footer>
		<p>&copy; Cardblanche group LLC 2012 - 2014</p>
	</footer>
</div>



{% endblock %}

