{% extends "AcmeFrontBundle::layout.html.twig" %}

{% block title %}Cardblanche:Оплата{% endblock %}

{% block body %}
	{% include 'AcmeFrontBundle:Partial:upmenu.html.twig' %}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3"></div> 
			<div class="span9">
				<h3>К сожалению, в процессе оплаты произошел сбой</h3>
				<p>
					Вы можете повторить оплату тарифа позже из своего личного кабинета.
				</p>
				<a href="/" class="btn btn-primary">К предложениям</a>
			</div>
		</div>
			<footer>
		<p>&copy; Cardblanche group LLC 2012 - 2014</p>
	</footer>
	</div>

{% endblock %}
