{% extends "AcmeFrontBundle::layout.html.twig" %}

{% block title %}Cardblanche:Account:Success{% endblock %}

{% block js_style %}
	<style type="text/css">
		.big-badge {
			color: #111;
			font-size:1.5em;
			height: 1.1em; 
			padding-top: .5em;"
		}
	</style>
{% endblock %}


{% block body %}

{% include 'AcmeFrontBundle:Partial:upmenu.html.twig' %}

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
		</div>

		<div class="span9">
			<h3>Вы успешно зарегистрировали свой аккаунт на нашем сайте</h3>
			<p class="text-error">
				Обязательно подтвердите регистрацию по ссылке, которую мы отправили Вам на почту.
			</p>	
			<p class="text-success">
				Только после этого Вы сможете получать все преимущества, которые предоставляет Вам CARDBLANCHE.
			</p>

			<div class="panel">
			{% if (retData.code is defined) and (retData.code == 'OK') %}
					<p>
					Вы можете приглашать своих друзей и знакомых. Они также получать возможность экономить и зарабатывать деньги на повседневных тратах.
					</p>
					<p>
					Не забывайте сообщать им Ваш ID номер для регистрации: 
					<span class="badge badge-warning big-badge">{{ retData.result }}</span>
					<br> 
					Вы можете делиться ссылкой с друзьями в социальных сетях: 
					http://region.cardblanche.net/account/register/{{ retData.result }}/invite
					</p>
					<p>
					Bступайте в нашу группу <a href="http://vk.com/cardblanche"><img src="/images/vk.png" alt="ВКОНТАКТЕ" style="width:60px; height:60px;"></a> и будьте в курсе последних новостей <span class="badge badge-info big-badge">CARDBLANCHE</span>
					</p>
					<p>
						Номер Вашего счета:  
						{% if bill_id is defined %}
						<span class="text-sussecc big-badge">{{bill_id}}</span>
						{% endif %}
					</p>
					
					{% if userTarif == '1' %}
					<div>
					<p>
						Вы выбрали тариф: <span class="badge badge-info big-badge">Classic</span>&nbsp;
						
{% 
	include 'AcmeFrontBundle:Partial:payment_form.html.twig' with {'tarif':1, 'aTarifs':aTarifs, 'bill_id':bill_id }
%}
 	
						<hr/>
						Получите больше возможностей с другими тарифами: 
						<br>
	
						<span class="badge badge-warning big-badge">Premium</span>	
{% 
	include 'AcmeFrontBundle:Partial:payment_form.html.twig' with {'tarif':2, 'aTarifs':aTarifs, 'bill_id':bill_id }
%}
	
						<p>&nbsp;</p>
	
						<span class="badge badge-success  big-badge">Business</span>
{% 
	include 'AcmeFrontBundle:Partial:payment_form.html.twig' with {'tarif':3, 'aTarifs':aTarifs, 'bill_id':bill_id }
%}
					</p>
					</div>
					{% elseif userTarif == '2' %}
					<div>
					<p>
						Вы выбрали тариф:  <span class="badge badge-warning big-badge">Premium</span>
{% 
	include 'AcmeFrontBundle:Partial:payment_form.html.twig' with {'tarif':2, 'aTarifs':aTarifs, 'bill_id':bill_id }
%} 	
						<hr/>
						Получите больше возможностей с тарифом  <span class="badge badge-success big-badge">Business</span>

{% 
	include 'AcmeFrontBundle:Partial:payment_form.html.twig' with {'tarif':3, 'aTarifs':aTarifs, 'bill_id':bill_id }
%}
						<br/>

					</p>
					</div>
					{% elseif userTarif == '3' %}
					<div>
					<p>
						Вы выбрали тариф: <span class="badge badge-success big-badge">Business</span>
{% 
	include 'AcmeFrontBundle:Partial:payment_form.html.twig' with {'tarif':3, 'aTarifs':aTarifs, 'bill_id':bill_id }
%}
						<br/>
						<br>
						С этим тарифом Вы получаете максимум возможностей.
					</p>
					</div>	
					{% elseif userTarif == '4' %}
					<div>
					<p>
						Ваш тариф <span class="badge big-badge">Trial</span>
						<br/>
						Этот тариф предоставляет ограниченные и неполные возможности КАРДБЛАНШа
						<br>
						Прямо сейчас Вы можете выбрать и оплатить другой тариф: <br/>
						<span class="badge badge-info big-badge">Classic</span>
{% 
	include 'AcmeFrontBundle:Partial:payment_form.html.twig' with {'tarif':1, 'aTarifs':aTarifs, 'bill_id':bill_id }
%}
						<br>
						<span class="badge badge-warning big-badge">Premium</span>
{% 
	include 'AcmeFrontBundle:Partial:payment_form.html.twig' with {'tarif':2, 'aTarifs':aTarifs, 'bill_id':bill_id }
%}
						<br>
						<span class="badge badge-success big-badge">Business</span>
{% 
	include 'AcmeFrontBundle:Partial:payment_form.html.twig' with {'tarif':3, 'aTarifs':aTarifs, 'bill_id':bill_id }
%}
					</p>
					</div>
					{% endif %}
					
					{#
					<p>
					Classic:
					</p>
					<p>
					В случае ПОДНЯТИЯ вашего тарифа до PREMIUM(переход на оплату поднятия тарифа) или BUSINESS(переход на оплату поднятия тарифа), помимо иных привилегий, вы получите возможность зарабатывать на том что ваши друзья и знакомые экономят!
					</p>
					<p>
					Premium:
					</p>
					<p>
					Рекомендуем ознакомиться с привилегиями BUSINESS(переход на оплату поднятия тарифа)тарифа, позволяющему полноценно зарабатывать до 840 000 рублей в месяц на том что ваши друзья и знакомые экономят.
					</p>
					#}


{#

(строчка только для PREMIUM и BUSINESS) Начните ЗАРАБАТЫВАТЬ с CARDBLANCHE - ознакомьтесь с руководством в разделе ПОЛЕЗНОЕ(переход в раздел полезное) 



контакты вашего наставника: (телефон спонсора)
#}
				
					{#
					<p class="text-success">
						Вы можете приглашать своих друзей и знакомых. Они также будут получать скидки у наших постоянных партнеров в своем городе.
					</p>
					<p class="text-info">
						Не забывайте сообщать им Ваш реферальный номер для регистрации: {{ retData.result }}.
						<br>
						Вы можете делиться ссылкой с друзьями в социальных сетях: 
						<br>
						<span class="text-success">
							<b>http://region.cardblanche.net/account/register/{{ retData.result }}/invite</b>
						</span>  
					</p>
					<p class="text-info">
						<a class="btn btn-info" href="https://vk.com/cardblanche" target="_blank">Вступайте в нашу группу "ВКонтакте" </a>
						и получайте самые свежие новости нашей компании
					</p>
					<p class="text-success">
						В зависимости он полученного Вами тарифного плана Вы будете получать не только скидки, но и прибыль от экономии других. 
					</p>
					#}	
				{#}
				{% else %}
					<p class="text-error">
						Сервер регистрации временно недоступен. Повторите попытку позже.
					</p>
				{% endif %}
				#}
				{% else %}
					<p class="text-error">
						Вы зарегистрированы, но что-то пошло не так. Возможно она проведена не полностью. Свяжитесь с нами и сообщите нам об обстоятельствах регистрации.
					</p>
					<p class="text-error">
						Сервер регистрации временно недоступен. Повторите попытку позже.
					</p>
			{% endif %}

			</div>

			<p>
				Служба поддержки: <a href="mailto:support@cardblanche.net">support <i class="fa fa-at"></i> cardblanche . net</a>
			</p>
			<a href="http://www.cardblanche.net" class="btn btn-primary">Открыть акции</a>
			<p>&nbsp;</p>
			{#}
			<div>
				<script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>

				<!-- VK Widget -->
				<div id="vk_groups"></div>
				<script type="text/javascript">
				VK.Widgets.Group("vk_groups", {mode: 1, width: "220", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 48767898);
				</script>
			</div>
#}
		</div>
	</div>

{% endblock %}




