<!-- Modal -->
<div class="modal fade" id="modal_offer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form autocomplete="off" method="post" class="form-horizontal errors-inside">
    <div class="modal-content">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    <h4 class="modal-title" id="myModalLabel">Для получения скидки заполните, пожалуйста, форму.</h4>
	</div>
	<div class="modal-body">
	    <div class="form-group">
		<label for="form_tel" class="col-sm-2 control-label">Телефон</label>
		<div class="col-sm-10">
                    <input class="form-control" type="tel" id="form_tel" name="form[tel]" required="required" placeholder="Телефон">
		</div>
	    </div>          
	    <div class="form-group">
		<label for="form_email" class="col-sm-2 control-label">E-mail</label>
		<div class="col-sm-10">
                    <input class="form-control" type="email" id="form_email" name="form[email]" required="required" placeholder="E-mail">
		</div>
	    </div>
            <p class="text-center text-muted"><small>Пожалуйста, указывайте существующий номер телефона и E-mail. На них будет выслан PIN-код вашей дисконтной карты.</small><p>
            <div class="form-group">
		<label for="form_password" class="col-sm-2 control-label">Пароль</label>
		<div class="col-sm-10">
                    <input class="form-control" type="password" id="form_password" name="form[password]" required="required" placeholder="Пароль">
		</div>
	    </div>
            <div class="form-group">
		<label for="form_password2" class="col-sm-2 control-label">Повторите пароль</label>
		<div class="col-sm-10">
                    <input class="form-control" type="password" id="form_password2" name="form[password2]" required="required" placeholder="Повторите пароль">
		</div>
	    </div>
            <div class="form-group">
		<label for="form_captcha" class="col-sm-4 control-label"><img src="" width="160" height="40" title="captcha"></label>
		<div class="col-sm-8">
                    <input class="form-control" type="text" id="form_captcha" name="form[captcha]" required="required" placeholder="Введите код">
		</div>
	    </div>            
            <input class="form-control" type="hidden" id="form__token" name="form[_token]" value="b83213e8c993e4a1fd1097c7b970518fc9ccba9c">
            <div class="clearfix"></div>
	</div>
	<div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <input class="submit btn btn-success" type="submit" value="Получить скидку">
	</div>
    </div>
    </form>
  </div>
</div>