<div id="searchbox"></div>
<div class="navbar navbar-inverse" role="navigation">
    <button id="collapse-rubrics-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#offers-collapse">
        <span class="sr-only">Развернуть</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-collapse collapse" id="offers-collapse">
        <ul class="nav navbar-nav">
            <li {% if sCategorySlug == "avto" %}class="active"{% endif %}>
                <a href="/{{locale}}/{{sCitySlug}}/offer/list/avto">Авто</a></li>
            <li {% if sCategorySlug == "cafes-and-restaurants" %}class="active"{% endif %}>
                <a href="/{{locale}}/{{sCitySlug}}/offer/list/cafes-and-restaurants">Кафе и рестораны</a></li>
            <li {% if sCategorySlug == "beauty-and-health" %}class="active"{% endif %}>
                <a href="/{{locale}}/{{sCitySlug}}/offer/list/beauty-and-health">Красота и здоровье</a></li>
            <li {% if sCategorySlug == "courses" %}class="active"{% endif %}>
                <a href="/{{locale}}/{{sCitySlug}}/offer/list/courses">Курсы и тренинги</a></li>
            <li {% if sCategorySlug == "shops" %}class="active"{% endif %}>
                <a href="/{{locale}}/{{sCitySlug}}/offer/list/shops">Магазины</a></li>
            <li {% if sCategorySlug == "entertainment" %}class="active"{% endif %}>
                <a href="/{{locale}}/{{sCitySlug}}/offer/list/entertainment">Развлечения</a></li>
            <li {% if sCategorySlug == "sport" %}class="active"{% endif %}>
                <a href="/{{locale}}/{{sCitySlug}}/offer/list/sport">Спорт</a></li>
            <li {% if sCategorySlug == "tourism" %}class="active"{% endif %}>
                <a href="/{{locale}}/{{sCitySlug}}/offer/list/tourism">Туризм</a></li>
            <li {% if sCategorySlug == "service" %}class="active"{% endif %}>
                <a href="/{{locale}}/{{sCitySlug}}/offer/list/service">Услуги</a></li>   
        </ul>
    </div>
</div> 