{% extends 'AcmeFrontBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% if offer.position %}
    <script src="http://api-maps.yandex.ru/2.1/?lang={{ app.request.locale }}" type="text/javascript"></script>
    {% endif %}
{% endblock %}
{% block content %}
   <div id='offer' class="wrapper">
	<div class="container">
            {% include 'AcmeFrontBundle:Offers:nav_category.html.twig' %}
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ offer.title }}</h1>
                </div>
            </div>
            <br>            
            <div class="clearfix"></div>
            
            <div class="row">
                <div class="col-sm-6">
                    {% if offer.image %}
                        <img src="http://cardblanche.net/upload/offer/image/{{ offer.image }}" class="img-responsive img-thumbnail" />
                    {% endif %}                    
                    <div>
                        <div class="nobootstrap share">
                            <div class="share42init" data-url="[url]" data-title="[title]"></div>
                            <script type="text/javascript" src="/share42/share42.js"></script>
                        </div>
                        <a onclick="return false;" href="javascript:void(0);" data-toggle="modal" data-target="#modal_offer" type="button" class="btn btn-primary order getdiscount form-popup">Получить скидку</a>
                    </div>
                </div>
                <div class="container">
                    <h3 class="about-partner-in-offer">О партнере</h3>
                    <address>
                    {#% if offer.name %}
                        <strong>Ресторан-бар "Микантли"</strong><br>
                    {% endif %} 
                    {% if offer.city %}
                        г. Москва<br>
                    {% endif %}
                    {% if offer.site %}
                        <a href="http://www.mikantli.ru/" target="_blank">http://www.mikantli.ru/</a><br>
                    {% endif %} 
                    {% if offer.phone %}
                        Телефон: +7 (495) 645 52 77 <br> 
                    {% endif #}  
                    {% if offer.address %}
                        {{offer.address}}<br>
                    {% endif %}    
                    </address>
                {% if offer.position %}
                    {% set position = offer.position|split(',') %}
                    <div id="map" class="col-sm-6 no-padding-all" style="height: 250px"></div>                        
                    <script type="text/javascript">
                        ymaps.ready(init);
                        var myMap;

                        function init(){     
                            myMap = new ymaps.Map("map", {
                                center: [{{position[1]}}, {{position[0]}}],
                                zoom: 16,
                                controls: ["typeSelector","zoomControl", "fullscreenControl"]
                            });
                            myPlacemark = new ymaps.Placemark([{{position[1]}}, {{position[0]}}], {
                                hintContent: 'Москва!',
                                balloonContent: 'Столица России'
                            });

                            myMap.geoObjects.add(myPlacemark);
                        }
                    </script>
                {% endif %}
                    {{offer.description | raw}}
                <div class="clear offer-bottom-gap"></div>
                </div>
            </div>            
	</div>	    
    </div>     
{% include 'AcmeFrontBundle:Offers:modal_offer.html.twig' %}                
{% endblock %}
