{% extends 'AcmeFrontBundle::base.html.twig' %}

{% block content %}
   <div id='offers' class="wrapper">
	<div class="container">
            {% include 'AcmeFrontBundle:Offers:nav_category.html.twig' %}  
            <div class="row">
                <div class="col-sm-6">
                    <h1>{{sTitle}}</h1>
                </div>
                <div class="col-sm-6">
                    {% include 'AcmeFrontBundle:Offers:search.html.twig' %}
                </div>
            </div>
            <br>
            <div class="clearfix"></div>
            <div class="row">
                {% for offer in offers %}
                {% set offer_url %}/{{locale}}/{{sCitySlug}}/offer/{%if sCategorySlug !=''%}{{sCategorySlug}}/{%endif%}{{offer.id}}{% endset %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h5>{{ offer.title|striptags|length > 26 ? offer.title|striptags|slice(0, 26) ~ '...' : offer.title|striptags  }}</h5>
                        </div>
                        <div class="image-wraper">
                            <a href="{{offer_url}}" title="{{ offer.title }}">
                                {% if offer.image %}
                                    <img src="http://cardblanche.net/upload/offer/image/{{offer.image}}?270x175o" class="img-responsive offer-list" />
                                {% else %}
                                    <img src="http://placehold.it/270x175&text=Photo" class="img-responsive offer-list" />
                                {% endif %}
                                {% if offer.price %}
                                    <div class="sale">{{offer.discount_price * 100 // offer.price}}%</div>
                                {% endif %}
                            </a>
                        </div>
                        <div class="caption">
                            <div style="height: 80px; overflow: hidden;">
                                <a class="offer-name" href="{{offer_url}}" class="description-link" title="{{ offer.title }}">
                                    {{ offer.description|striptags|length > 150 ? offer.description|striptags|slice(0, 150) ~ '...' : offer.description|striptags }}
                                </a>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-6 old">
                                    <p class="text-center">
                                        <del>{{offer.price}} р.</del>
                                    </p>
                                </div>
                                <div class="col-xs-6 new">
                                    <p class="text-center">
                                        <span>{{offer.discount_price}} р.</span>            
                                    </p>
                                </div>
                            </div>
                            <br>
                            <div class="clearfix"></div>
                            <div class="pull-left">
                                <i class="fa fa-clock-o"></i><span> 315 дней</span>
                            </div>
                            <a href="{{offer_url}}" class="btn btn-xs btn-primary pull-right" role="button" title="{{ offer.title }}">Подробнее</a>
                            <div class="clearfix"></div>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-12">
                    <nav>
                        <ul class="pagination">
                            <li {% if pagination.currentPage == 1 %}class="disabled"{% endif %}>
                                <a href="/{{locale}}/{{sCitySlug}}/offer/list/1">
                                    <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a>
                            </li>
                        {% for i in 1..pagination.totalPage %}
                            <li {% if pagination.currentPage == i %}class="active"{% endif %}>
                                <a href="/{{locale}}/{{sCitySlug}}/offer/list/{{ i }}">
                                    {{ i }}
                                </a>
                            </li>
                        {% endfor %}
                            <li {% if pagination.currentPage == pagination.totalPage %}class="disabled"{% endif %}>
                                <a href="/{{locale}}/{{sCitySlug}}/offer/list/{{pagination.totalPage}}">
                                    <span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
	</div>	    
    </div>
{% endblock %}
