<form class="form-inline pull-right" role="form">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control offersearch-input" placeholder="Поиск" />
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>			    
    <div class="form-group">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="radio" name="options" id="asc" autocomplete="off"><i class="fa fa-sort-amount-asc"></i>
            </label>
            <label class="btn btn-default">
                <input type="radio" name="options" id="desc" autocomplete="off"><i class="fa fa-sort-amount-desc"></i>
            </label>
        </div>
    </div>		
</form>